<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<!--/*@thymesVar id="messageType" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <title>POGS</title>

    <link rel="stylesheet" href="../../dist/vendor/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/dist/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="../../dist/css/style.css"
          th:href="@{/css/style.css}"/>

    <link rel="stylesheet" type="text/css" href="../../dist/vendor/font-awesome/css/font-awesome.css"
          th:href="@{/vendor/font-awesome/css/font-awesome.css}">


    <script src="../../dist/vendor/jquery/dist/jquery.min.js"
            th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
    <script src="../../dist/vendor/loglevel/dist/loglevel.min.js"
            th:src="@{/vendor/loglevel/dist/loglevel.min.js}"></script>
    <script src="../../static/js/pogs.js" th:src="@{/js/pogs.js}"></script>

    <script src="../../static/js/pogsPlugin.js" th:src="@{/js/pogsPlugin.js}"></script>
    <script src="../../static/js/pogsCommunicationPlugin.js" th:src="@{/js/pogsCommunicationPlugin.js}"></script>
    <script src="../../static/js/pogsCollaborationPlugin.js" th:src="@{/js/pogsCollaborationPlugin.js}"></script>
    <script src="../../static/js/votingPoolManager.js" th:src="@{/js/votingPoolManager.js}"></script>
    <script src="../../static/js/todoListManager.js" th:src="@{/js/todoListManager.js}"></script>


</head>

<body>
<div class="flexbox">
    <div class="header">
        <!--<img src="../../static/img/logo.jpg" th:src="@{/img/logo.jpg}"/>-->
        <span>POGS</span>
    </div>
    <div class="main">
        <div class="flexbox-row">
            <div layout:fragment="information"  class="information"></div>
            <div class="mainContent">
                <div layout:fragment="content" class="centerContent  h-100">
                    This is the page content.
                </div>
            </div>
            <div class="communication" layout:fragment="communication" ></div>
        </div>
    </div>
    <div class="footer" layout:fragment="footer" >
        Copyright © 2018 MIT Center for Collective Intelligence
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="communicationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="../../dist/vendor/popper.js/dist/umd/popper.min.js"
        th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script src="../../dist/vendor/bootstrap/dist/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>



</body>
</html>
