<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
<!--/*@thymesVar id="tasksList" type="java.util.List<edu.mit.cci.pogs.model.jooq.tables.pojos.Task>"*/-->
<head>
    <meta charset="UTF-8">
    <title>POGS - Tasks</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active"><a href="/admin/tasks">Tasks</a></li>
    </ol>
    <h2>All tasks:</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="col-12">
                <a href="/admin/tasks/create" class="btn btn-outline-primary float-right">
                    Create new Task</a>
            </div>
        </div>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>

            <th>Task Name</th>
            <th>Task Plugin Type</th>
            <th>Task work time</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="task : ${tasksList}">
            <tr>
                <td th:text="${task.id}"></td>
                <td><a th:text="${task.taskName}" th:href="${'/admin/tasks/'+ task.id + '/edit'}"></a></td>
                <td><a th:text="${task.taskPluginType}" th:href="${'/admin/tasks/'+ task.id+ '/edit'}"></a></td>
                <td><a th:text="${task.interactionTime + ' seconds'}" th:href="${'/admin/tasks/'+ task.id + '/edit'}"></a></td>
                <td>

                <a  th:href="${'/task/' + task.id + '/t/su01'} " style="margin:5px" target="_blank"
                                                    class="btn btn-outline-primary btn-sm  float-right">
                                                    Preview task work</a>

                <a th:if="${task.primerPageEnabled}" th:href="${'/task/' + task.id + '/p/su01'} " style="margin:5px" target="_blank"
                                    class="btn btn-outline-primary btn-sm float-right">
                                    Preview task primer</a>

                <a th:if="${task.introPageEnabled}" th:href="${'/task/' + task.id + '/i/su01'} " style="margin:5px" target="_blank"
                                                                    class="btn btn-sm btn-outline-primary float-right">
                                                                    Preview task intro</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
