<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
<!--/*@thymesVar id="_csrf" type="org.springframework.security.web.csrf.CsrfToken"*/-->

<head>
    <meta charset="UTF-8">
    <title>POGS - Tasks</title>
</head>

<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item "><a href="/admin/tasks">Tasks</a></li>
        <li class="breadcrumb-item active" th:if="${task.id != null}">
            <a th:href="${'/admin/tasks/' + task.id}" th:text="${task.taskName}"></a>
        </li>
    </ol>
    <h2>Edit task</h2>
    <form action="#" th:action="@{/admin/tasks}" th:object="${task}" method="post" id="taskEdit">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:field="*{id}"/>
        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Basic</legend>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="taskName">Task Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="taskName"
                               th:field="*{taskName}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="taskPluginType">Task Plugin
                        Type:</label>
                    <div class="col-sm-4">
                        <select class="custom-select" th:field="*{taskPluginType}"
                                id="taskPluginType">
                            <option
                                    th:each="rg: ${taskPluginTypes}"
                                    th:value="${rg.taskPluginName}"
                                    th:text="${rg.taskPluginName}"></option>
                        </select>
                    </div>

                    <label class="col-sm-2 col-form-label">Task Plugin Configuration:</label>
                    <div class="col-sm-4">
                        <th:block th:each="rg: ${taskPluginTypes}">
                            <select class="custom-select pluginConfigSelect" style="display: none"
                                    th:id="${rg.taskPluginName + '_configOptions'}"
                                    name="">
                                <option
                                        th:each="config: ${taskPluginConfigurationOptions}"
                                        th:value="${config.id}"
                                        th:if="${config.taskPluginName == rg.taskPluginName}"
                                        th:text="${config.configurationName}"></option>
                            </select>
                            <small class="form-text text-muted">
                                <a th:id="${rg.taskPluginName + '_configLink'}" class="pluginLinks" href="#" style="display:none">Go to plugin config page</a>
                            </small>
                        </th:block>


                    </div>
                </div>

                <script th:inline="text">
                    $(function () {

                        var taskConfigId = '[(*{taskConfigurationId})]';

                        var pluginName = $("#taskPluginType").val();
                        if (taskConfigId != '') {
                            $("#" + pluginName + "_configOptions").val(taskConfigId);

                        }
                        $("#" + pluginName + "_configOptions").attr("name","taskConfigurationId");
                        $("#" + pluginName + "_configOptions").show();

                        $(".pluginLinks").hide();
                        $("#" + pluginName + "_configLink").show();

                        $("#" + pluginName + "_configLink").unbind().click(function(){
                            window.location = "/admin/taskplugins/" + pluginName + "/" + $("#" + pluginName + "_configOptions").val();
                        });


                        $("#taskPluginType").change(function () {

                            var pluginNamez = $(this).val();
                            $(".pluginConfigSelect").hide();
                            $(".pluginConfigSelect").each(function(i,el){
                                $(el).attr("name" , "");
                            });
                            $("#" + pluginNamez + "_configLink").show();

                            $("#" + pluginNamez + "_configOptions").show();
                            $("#" + pluginNamez + "_configOptions").attr("name","taskConfigurationId");

                            $(".pluginLinks").hide();
                            $("#" + pluginNamez + "_configLink").unbind().click(function(){
                                window.location = "/admin/taskplugins/" + pluginNamez + "/" + $("#" + pluginNamez + "_configOptions").val();
                            });
                        })
                    });
                </script>
                <!-- div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="scoringType">Scoring Type:</label>
                    <div class="col-sm-10">
                        <select class="custom-select" th:field="*{scoringType}" id="scoringType">
                            <option
                                    th:each="rg: ${scoringTypes}"
                                    th:value="${rg.id}"
                                    th:text="${rg.scoringType}"></option>
                        </select>
                    </div>
                </div-->
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="soloTask">Solo Task:</label>
                    <div class="col-sm-3">
                        <input class="form-check-input" th:field="*{soloTask}" type="checkbox"
                               id="soloTask"/>
                    </div>
                    <label class="col-sm-3 col-form-label" for="shouldScore">Should Score:</label>
                    <div class="col-sm-3">
                        <input class="form-check-input" th:field="*{shouldScore}" type="checkbox"
                               id="shouldScore"/>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Intro</legend>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="introPageEnabled">Intro Page
                        Enabled:</label>
                    <div class="col-sm-10">
                        <input class="form-check-input" th:field="*{introPageEnabled}"
                               type="checkbox" id="introPageEnabled" data-trigger="intro"/>
                    </div>
                </div>
                <div class="form-group row hideable" data-hide="intro">
                    <label class="col-sm-2 col-form-label" for="introText">Intro Text:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control htmleditor" id="introText" th:field="*{introText}"
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row hideable" data-hide="intro">
                    <label class="col-sm-2 col-form-label" for="introTime">Intro Time:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" min="0" step="1" id="introTime"
                               th:field="*{introTime}"/>
                        <div class="invalid-feedback">Please provide a valid time in seconds greater or equal to 5 seconds.</div>
                        <small id="introTimeHelp" class="form-text text-muted">In seconds</small>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Primer</legend>
            <div class="container">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="primerPageEnabled">Primer Page
                        Enabled:</label>
                    <div class="col-sm-10">
                        <input class="form-check-input" th:field="*{primerPageEnabled}"
                               type="checkbox" id="primerPageEnabled" data-trigger="primer"/>
                    </div>
                </div>

                <div class="form-group row hideable" data-hide="primer">
                    <label class="col-sm-2 col-form-label" for="primerText">Primer Text:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control htmleditor" id="primerText" th:field="*{primerText}"
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row hideable" data-hide="primer">
                                    <label class="col-sm-2 col-form-label" for="primerVideoAutoplayMute">Primer Video
                                        Should Autoplay muted:</label>
                                    <div class="col-sm-10">
                                        <input class="form-check-input" th:field="*{primerVideoAutoplayMute}"
                                               type="checkbox" id="primerVideoAutoplayMute"/>
                                        <small id="primerTimeHelp" class="form-text text-muted">
                                        Auto play is only available if sound is muted.</small>
                                    </div>
                                </div>
                <div class="form-group row hideable" data-hide="primer">
                    <label class="col-sm-2 col-form-label" for="primerTime">Primer Time:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" id="primerTime" min="0" step="1"
                               th:field="*{primerTime}"/>
                        <small id="primerTimeHelp" class="form-text text-muted">In seconds</small>
                        <div class="invalid-feedback">Please provide a valid time in seconds greater or equal to 5 seconds.</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Interaction</legend>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="interactionTime">Interaction
                        Time:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" id="interactionTime" min="0" step="1"
                               th:field="*{interactionTime}"/>
                        <div class="invalid-feedback">Please provide a valid time in seconds greater or equal to 5 seconds.</div>
                        <small id="interactionTimeHelp" class="form-text text-muted">In seconds</small>
                    </div>
                </div>
                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="interactionWidgetEnabled">Interaction
                                        Widget Enabled:</label>
                                    <div class="col-sm-10">
                                        <input class="form-check-input" th:field="*{interactionWidgetEnabled}"
                                               type="checkbox" id="interactionWidgetEnabled" data-trigger="widget"/>
                                    <small id="interHelp" class="form-text text-muted">If enabled a panel will be displayed on the left side of the workspace</small>
                                    </div>
                </div>
                <div class="form-group row hideable" data-hide="widget">
                    <label class="col-sm-2 col-form-label" for="interactionText">Interaction
                        Text:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control htmleditor" id="interactionText"
                                  th:field="*{interactionText}" rows="3"></textarea>
                    </div>
                </div>

            </div>
        </fieldset>


        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Communication</legend>
            <div class="container">

                 <div class="form-group row">
                    <label class="col-sm-6 col-form-label" for="communicationType">Communication Type:</label>
                    <div class="col-sm-6">

                        <select class="custom-select" th:field="*{communicationType}" id="communicationType">

                            <option
                                    th:each="rg: ${communicationConstraints}"
                                    th:value="${rg.id}"
                                    th:text="${rg.communicationType}" ></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label" for="chatScriptId">Chat script:</label>
                    <div class="col-sm-6">

                        <select class="custom-select" th:field="*{chatScriptId}" id="chatScriptId">
                        <option value="" >Select a chat script</option>
                            <option
                                    th:each="cs: ${chatScripts}"
                                    th:value="${cs.id}"
                                    th:text="${cs.chatScriptName}" ></option>
                        </select>
                    </div>
                </div>



            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Collaboration (*)</legend>
            <div class="container">
                <div class="form-check form-check-inline">

                    <input class="form-check-input" th:field="*{collaborationTodoListEnabled}"
                           type="checkbox" id="collaborationTodoListEnabled"/>
                    <label class="col-form-label" for="collaborationTodoListEnabled">Collaboration
                    Todo List Enabled</label>

                </div>
                <div class="form-check form-check-inline">

                    <input class="form-check-input"
                           th:field="*{collaborationVotingWidgetEnabled}" type="checkbox"
                           id="collaborationVotingWidgetEnabled"/>
                    <label class="col-form-label" for="collaborationVotingWidgetEnabled">Collaboration
                    Voting Widget Enabled</label>

                </div>


                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           th:field="*{collaborationFeedbackWidgetEnabled}" type="checkbox"
                           id="collaborationFeedbackWidgetEnabled"/>
                    <label class="col-form-label" for="collaborationFeedbackWidgetEnabled">Collaboration
                    Feedback Widget Enabled</label>

                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="taskScoreBoardEnabled">Task Score board Enabled:</label>
                    <div class="col-sm-10">
                        <input class="form-check-input" th:field="*{scorePageEnabled}"
                               type="checkbox" id="taskScoreBoardEnabled" data-trigger="widget"/>
                        <small id="scoreboardHelp" class="form-text text-muted">If enabled a page will be displayed after the task is done to display the score</small>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Begin research group field -->
        <fieldset class="form-group">
            <legend>Research groups</legend>

            <select multiple="multiple" size="10"
                    th:field="*{researchGroupRelationshipBean.selectedValues}" id="researchGroups">
                <option
                        th:each="rg: ${researchGroups}"
                        th:value="${rg.id}"
                        th:text="${rg.groupName}"></option>
            </select>
            <div class="invalid-feedback" id="researchGroupError">
                            Choose at least one research group. <br/>
                            If you choose a research group that you are not associated with you won't be able to edit this task.
            </div>

        </fieldset>
        <script>

            $(function () {
                //$('select[name="researchgroups"]')


                $(".htmleditor").summernote(
                    {
                    height: 200,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['para', ['style','ul', 'ol', 'paragraph']],
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['insert', ['picture','link','video','table','codeview']]
                      ],
                         callbacks: {
                             onImageUpload: function(files) {
                               console.log("Send file called success override: " + this);
                               for(let i=0; i < files.length; i++) {
                                   sendFile(files[0],this);
                               }
                        }
                       }
                    }
                );

               function sendFile(file,editor) {
                                   console.log("Send file method");
                                   let data = new FormData();
                                   data.append("file", file);
                                   $.ajax({
                                       data: data,
                                       type: "POST",
                                       url: "/images/upload?[(${_csrf.parameterName})]=[(${_csrf.token})]",
                                       cache: false,
                                       contentType: false,
                                       processData: false,
                                       success: function(url) {
                                               $(editor).summernote('insertImage', url);
                                       }
                                   });
                               }

                $('#researchGroups')
                    .bootstrapDualListbox({
                                              selectedListLabel: "Chosen groups",
                                              nonSelectedListLabel: "Available groups",
                                              moveAllLabel: "Move all",
                                              removeAllLabel: "Remove all"
                                          });
                /* hack for bootstrap 4 */
                var dualListContainer = $('#researchGroups').bootstrapDualListbox('getContainer');
                dualListContainer.find('.moveall i').removeClass().addClass('fa fa-arrow-right');
                dualListContainer.find('.removeall i').removeClass().addClass('fa fa-arrow-left');
                dualListContainer.find('.move i').removeClass().addClass('fa fa-arrow-right');
                dualListContainer.find('.remove i').removeClass().addClass('fa fa-arrow-left');

                function checkboxOnClickOnLoad(){
                                    var trigg = $(this).data("trigger");
                                    if($(this).is(':checked')){

                                        $(".hideable[data-hide='"+trigg+"']").show();
                                    }else{
                                        $(".hideable[data-hide='"+trigg+"']").hide();
                                    }
                                };
                $(":checkbox").click(checkboxOnClickOnLoad);
                $(":checkbox").each(checkboxOnClickOnLoad);

                $("#taskEdit").submit(function( event ) {
                   var valid = true;

                   //time checking not empty or zero
                   $(":checkbox").each(function(){

                       var trig = $(this).data("trigger");
                       if(trig){
                           if($(this).is(':checked')){
                               console.log(':input[data-number="'+trig+'"]');
                               var numberVar = $(':input[data-number="'+trig+'"]').val();
                               if((numberVar=="" )||(parseInt(numberVar)<5)){
                                  $(':input[data-number="'+trig+'"]').addClass("is-invalid");
                                  valid = false;
                               }
                           }
                       }

                   });

                   if(!valid){
                       event.preventDefault();
                       event.stopPropagation();
                   }
                });
            });
        </script>
        <!-- End research group field -->
        <div class="container">
            Items marked with * (Override)
            <small>If set this will override the session defined configuration</small>
        </div>
        <a class="btn btn-danger btn-primary" href="/admin/tasks">Cancel</a>

        <button th:if="${task.id == null}" type="submit" class="btn btn-primary">Create task
        </button>
        <button th:if="${task.id != null}" type="submit" class="btn btn-primary">Save task
        </button>
        <br/>
    </form>
</div>

</div>
</body>
</html>
