<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
    <!--/*@thymesVar id="study" type="edu.mit.cci.pogs.model.jooq.tables.pojos.Study"*/-->

<head>
    <meta charset="UTF-8">
    <title>POGS - Study </title>
</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/studies">Studies</a></li>
        <li class="breadcrumb-item active"><a th:href="${'/admin/studies/' + study.id}" th:text="${study.studyName}"></a></li>
    </ol>
    <h2 th:text="${study.studyName }"></h2>
    <div class="col">
        <div class="col-12">
            <a th:href="${'/admin/studies/' + study.id + '/edit'}" class="btn btn-outline-primary float-right">
                Edit study</a>
        </div>
    </div>
    <p th:text="${study.studyDescription}"></p>
    <h3>Study sessions: </h3>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="col-12">
                <a th:href="${'/admin/studies/' + study.id + '/sessions/create'}"  class="btn btn-outline-primary float-right">
                    Create new session</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class ="col">
            <div class="col-12">
                <a th:href="${'/admin/export/study/'+ study.id}" class = "btn btn-outline-primary float-right">Export Study</a>
            </div>
        </div>
    </div>
    <br/>

    <script>
        $(function() {

            $(".hideChildren").on('click', function(){
                var id = $(this).data("id");

                $(".childSession[data-id='"+id+"']").hide();
                $(this).hide();
                $(".showChildren[data-id='"+id+"']").show();
            })

            $(".showChildren").on('click', function(){
                var id = $(this).data("id");

                $(".childSession[data-id='"+id+"']").show();

                $(this).hide();
                $(".hideChildren[data-id='"+id+"']").show();
            })
        });
    </script>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Original Session ID</th>
            <th>Session ID</th>
            <th>Session name</th>
            <th>Session start date </th>
            <th>Export</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="sessionz : ${sessionsList}">
            <tr>
                <td> <button th:if="${#lists.size(sessionz.childSessions) != 0}" class="btn btn-sm btn-outline-info hideChildren" th:data-id="${sessionz.baseSession.id}" style="font-size: 12px;margin: 5px;display: none">Hide child sessions</button><button th:if="${#lists.size(sessionz.childSessions) != 0}" style="font-size: 12px;margin: 5px;" class="btn btn-sm btn-outline-info showChildren " th:data-id="${sessionz.baseSession.id}" >Show child sessions</button> </td>
                <td th:text="${sessionz.baseSession.id}"></td>
                <td><a th:text="${study.studySessionPrefix + sessionz.baseSession.sessionSuffix}" th:href="${'/admin/studies/'+ study.id + '/sessions/' + sessionz.baseSession.id} "></a></td>
                <td th:text="${#dates.format(sessionz.baseSession.sessionStartDate, 'MM/dd/yyyy HH:mm')}"></td>
                <td><a th:href="${'/admin/export/session/'+ sessionz.baseSession.id}" class = "btn btn-outline-secondary">Export</a></td>
            </tr>

            <th:block th:each="childSession : ${sessionz.childSessions}" >
                <tr class="table-info childSession" th:data-id="${sessionz.baseSession.id}" style="display: none">
                    <td th:if="${childSession.parentSessionId}" th:text="${childSession.parentSessionId}"></td>

                    <td th:text="${childSession.id}"></td>
                    <td><a th:text="${study.studySessionPrefix + childSession.sessionSuffix}" th:href="${'/admin/studies/'+ study.id + '/sessions/' + childSession.id} "></a></td>
                    <td th:text="${#dates.format(childSession.sessionStartDate, 'MM/dd/yyyy HH:mm')}"></td>
                    <td><a th:href="${'/admin/export/session/'+ childSession.id}" class = "btn btn-outline-secondary">Export</a></td>
                </tr>
            </th:block>

        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
