<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
<!--/*@thymesVar id="studiesList" type="java.util.List<edu.mit.cci.pogs.model.jooq.tables.pojos.Study>"*/-->
<head>
    <meta charset="UTF-8">
    <title>POGS - Studies</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active"><a href="/admin/studies">Studies</a></li>
    </ol>
    <h2>All studies:</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="col-12">
                <a href="/admin/studies/create" class="btn btn-outline-primary float-right">
                    Create new study</a>
            </div>
        </div>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Study ID</th>
            <th>Study name</th>
            <th># Sessions </th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="study : ${studiesList}">
            <tr>
                <td th:text="${study.id}"></td>
                <td><a th:text="${study.studyName}" th:href="${'/admin/studies/'+ study.id}"></a></td>
                <td th:text="${study.studySessionPrefix}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
