<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
    <!--/*@thymesVar id="study" type="edu.mit.cci.pogs.model.jooq.tables.pojos.Study"*/-->

<head>
    <meta charset="UTF-8">
    <title>POGS - Study </title>
</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/studies">Studies</a></li>
        <li class="breadcrumb-item active"><a th:href="${'/admin/studies/' + study.id}" th:text="${study.studyName}"></a></li>
    </ol>
    <h2 th:text="${study.studyName }"></h2>
    <div class="col">
        <div class="col-12">
            <a th:href="${'/admin/studies/' + study.id + '/edit'}" class="btn btn-outline-primary float-right">
                Edit study</a>
        </div>
    </div>
    <p th:text="${study.studyDescription}"></p>
    <h3>Study sessions: </h3>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="col-12">
                <a th:href="${'/admin/studies/' + study.id + '/sessions/create'}"  class="btn btn-outline-primary float-right">
                    Create new session</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class ="col">
            <div class="col-12">
                <a th:href="${'/admin/export/study/'+ study.id}" class = "btn btn-outline-primary float-right">Export Study</a>
            </div>
        </div>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Session ID</th>
            <th>Session name</th>
            <th>Session start date </th>
            <th>Export</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="sessionz : ${sessionsList}">
            <tr>
                <td th:text="${sessionz.id}"></td>
                <td><a th:text="${study.studySessionPrefix + sessionz.sessionSuffix}" th:href="${'/admin/studies/'+ study.id + '/sessions/' + sessionz.id} "></a></td>
                <td th:text="${#dates.format(sessionz.sessionStartDate, 'dd/MM/yyyy HH:mm')}"></td>
                <td><a th:href="${'/admin/export/session/'+ sessionz.id}" class = "btn btn-outline-secondary">Export</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
