body {
  background-color: #F4F4F1;
}
header{
  margin-bottom: 15px;
}

.taskOrderNumber{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
}
.deleteTask {
  cursor: pointer;
}

/* Workspace classes */
html,
body {
  height: 100%;
  margin: 0
}
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.flexbox .main {
  flex: 1;
  background: red
}
.flexbox .header,
.flexbox .footer {
  background: #F4F4F1;
  padding:1em
}
.flexbox-row {
  display: flex;
  height: 100%;
}
.flexbox-row .information,
.flexbox-row .mainContent,
.flexbox-row .communication {
  background: white;
  padding: 1em;
}
.flexbox-row .mainContent {
  flex: 1;
  background: white
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.waiting_message {
  color: black;
  font-size: 18px;
  text-align:center;
}
.waiting_message #countdown {
  color: black;
  font-size: 21px;
  font-weight: 700;
  text-align:center;
}
/* Workspace classes */

.message-card {
  max-width: 60%;
}
.message-scroll {
  overflow-y: auto;
}

.bg-lightgrey {
  background-color: #f1f1f1;
}

.bg-lightblue{
  background-color: lightblue;
}
#sidebar-content {
  display: flex;
  flex-direction: column;
}
#list-group {
  flex: 1 1;
}

.sidebar-scroll {
  overflow-y: auto;
}
.border-chat-lightgray {
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: #dfdfdf!important;
}