<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="${template}">
<head>
    <meta charset="UTF-8">
    <title>POGS</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex align-items-center flex-column justify-content-center h-100  text-white" style="height: 100%">


        <div class="form-group waiting_message" >
            <div id="countdown"></div>

            <div>We have your name as <span class="current-display-name" th:text="${subject.subjectDisplayName}"></span>.  You can change it below.</div>
            <div>What name do you want the other participants to know you by? </div>
            <form class="form-inline"  method="POST" >
                <div class="form-group mb-2">
                    <label style="color:black">Name:</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="inputPassword2" placeholder="user id" name="displayName">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Change name</button>
            </form>

        </div>

        <script>

            $(function () {



                pogs.setup({
                               currentUrl: window.location,
                               sessionId: '[(${pogsSession.id})]',
                               subjectId: '[(${subject.subjectExternalId})]',
                               secondsRemainingCurrentUrl: [(${secondsRemainingCurrentUrl})],
                               nextUrl : '[(${nextUrl})]',
                               completedTaskId: 0,
                               hasCollaboration:false,
                               hasChat: false
                           });


            });


        </script>
        <form>
            <input type="hidden" th:value="${subject.subjectExternalId}" id="externalUserId"/>
            <input type="hidden" th:value="${pogsSession.id}" id="sessionId"/>
            <input type="hidden" th:value="${secondsRemainingCurrentUrl}" id="secondsRemainingCurrentUrl">
        </form>
    </div>
</div>
</body>
</html>
