<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>POGS</title>
</head>
<body>

<div layout:fragment="information" th:classappend="${'scrollInfo'}" th:if="${task.interactionWidgetEnabled}">
    <div th:remove="tag" th:utext="${task.interactionText}" ></div>
</div>
<div layout:fragment="content">
    <div th:if="${hasTabs}">
        <ul class="nav nav-tabs">
          <li class="nav-item" th:each="task:${taskList}">
            <a class="nav-link" th:classappend="${task.id == taskId} ? active : nothing" th:href="${'/round/' +round.id + task.taskWorkUrl +'/' + subject.subjectExternalId}" th:text="${task.taskName}"></a>
          </li>
        </ul>
    </div>

    <div id="todoListContainer" class="flex-column w-100" style="padding-top: 5px"
        th:if="${hasCollaborationTodoListEnabled}">
        <button id = "createTodoItem" class="btn btn-outline-primary btn-sm">Create Todo Entry</button>
    </div>

    <div id="votingPoolContainer"  class="flex-column w-100" style="padding-top: 5px"
        th:if="${hasCollaborationVotingWidget}">
        <div id="votingModal" class=""></div>
         <button id="createVotingPool" class="btn btn-outline-primary btn-sm">Create Voting Poll</button>

    </div>
    <div id="feedbackBarContainer"  class="flex-column w-100" style="padding-top: 5px"
    th:if="${hasCollaborationFeedbackWidget}">
        <div class="progress">
        </div>
    </div>

    <style  th:inline="text">

        /*<![CDATA[*/
        [(${taskCss})]

        /*]]>*/
    </style>
    <div class="form-group waiting_message tab-content h-100" style="text-align: left">
        <div class="d-flex align-items-center flex-column justify-content-start h-100  text-white" style="height: 100%">

        <div class="task_work" th:remove="tag" th:utext="${taskWorkHtml}" ></div>

 <script th:inline="text">
        /*<![CDATA[*/

        [(${taskWorkJs})]

        /*]]>*/
    </script>

    <script th:inline="text" th:if="${pogsSession.sessionWideScriptId}">
        /*<![CDATA[*/
            console.log("Has session wide script")
            var sessionWideScript = pogs.createPlugin('sessionWideScript',function(){

            console.log("Session wide script RUNNING")
                setTimeout(function(){
                [(${sessionWideScript})]

                },500);
            });
        /*]]>*/
    </script>


            <script>
                var csrfParamName = "[(${_csrf.parameterName})]";
                var csrfToken = "[(${_csrf.token})]";

                $(function () {



                    pogs.setup({
                       currentUrl: window.location,
                       sessionId: '[(${pogsSession.id})]',
                       subjectId: '[(${subject.subjectExternalId})]',
                       taskId : '[(${task.id})]',
                       taskIsSolo : [(${task.soloTask})],
                       sessionExecutionMode : [(${pogsSession.taskExecutionModeParallel})],
                       lastTask: '[(${lastTask})]',
                       sessionName: '[(${pogsSession.sessionSuffix})]',
                       subjectCanTalkTo: [(${subjectCanTalkTo})],
                       channelSubjectIsIn: [(${channelSubjectIsIn})],
                       secondsRemainingCurrentUrl: [(${secondsRemainingCurrentUrl})],
                       nextUrl : '[(${nextUrl})]',
                       doneUrlParameter : '[(${pogsSession.doneUrlParameter})]',
                       teammates: [(${teammates})],
                       taskList: [(${allTasksList})],
                       taskConfigurationAttributes: [(${taskConfigurationAttributes})],
                       completedTaskAttributes: [(${completedTaskAttributes})],
                       completedTaskId:'[(${completedTask.id})]',
                       hasCollaborationVotingWidget: [(${hasCollaborationVotingWidget})],
                       hasCollaborationFeedbackWidget: [(${hasCollaborationFeedbackWidget})],
                       hasCollaborationTodoListEnabled: [(${hasCollaborationTodoListEnabled})],
                       recordSessionSaveEphemeralEvents: [(${pogsSession.recordSessionSaveEphemeralEvents})],
                       chatBotName: '[(${chatBotName})]',
                       dictionary: [(${dictionary})],
                       hasChat: [(${hasChat})],
                       eventsUntilNow: [(${eventsUntilNow})],
                       communicationType: '[(${communicationType})]'
                   });


                });


            </script>

        </div>
    </div>


</div>
<div layout:fragment="communication" th:if="${hasChat}">
    <div class="container-fluid h-100" style="width:350px;">

        <div class="row h-100">
            <div class="col-3 border-chat-lightgray px-0" style="" id="subjectContainer">
                <div id="sidebar-content" class="h-100 w-100">
                    <div class=" p-0 d-xs-none w-100">
                        <div class="col-1 w-100 sidebarSubDivisionTitle">
                            Teammates:
                        </div>
                    </div>
                    <div class="sidebar-scroll" id="list-group">
                        <ul class="list-group w-100" id="friend-list">

                        </ul>
                    </div>

                    <div class=" p-0 d-xs-none w-100 d-none" id="channelDivision">
                        <div class="col-1 w-100 sidebarSubDivisionTitle">
                            #Channels:
                        </div>
                    </div>
                    <div class="sidebar-scroll d-none" id="list-group2">
                        <ul class="list-group w-100" id="channel-list">

                        </ul>
                    </div>

                </div>
            </div>
            <div class="card-body border-chat-window  d-flex flex-column p-0 col-9" style="flex: 9 1;height: 535px;" id="chatContainer"><!--  -->
                <div class="d-flex flex-row justify-content-start" style="background-color: #0E5EA9;color:white">
                    <div class="col-1 p-1">
                        <i class="fa fa-address-book subject-icon" style="font-size:30px;" id="toggleTrigger"></i>
                    </div>
                    <div class="col">
                        <div class="my-0">
                            <b id="channelDisplayName"></b>
                        </div>
                        <div class="my-0">
                            <small id="statusMessages"></small>
                        </div>
                    </div>
                </div>
                <div class="container-fluid message-scroll" style="flex: 1 1;padding-bottom: 10px;" id="channelMessageBody">

                </div>
                <div class="input-group" id="sendForm">
                    <input type="text" class="form-control border-0" placeholder="Input message..." id="messageInput" autocomplete="off">
                    <span class="input-group-addon">
                        <button class="btn border-0 bg-white text-primary hover-color-darkblue" type="button" id="messageSubmitButton">Send</button>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
