<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="${template}">
<head>
    <meta charset="UTF-8">
    <title>POGS</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex align-items-center flex-column justify-content-center h-100  text-white"
         style="height: 100%">


        <div class="form-group waiting_message">
            <div id="countdown"></div>
            <div>Your team:</div>
            <th:block th:each="subject : ${teammates}">
                <div th:text="${subject.subjectDisplayName}"></div>
            </th:block>

        </div>

        <script>

            $(function () {

                pogs.setup({
                               currentUrl: window.location,
                               sessionId: '[(${pogsSession.id})]',
                               subjectId: '[(${subject.subjectExternalId})]',
                               secondsRemainingCurrentUrl: [(${secondsRemainingCurrentUrl})],
                               nextUrl : '[(${nextUrl})]',
                               completedTaskId: null,
                               hasCollaboration:false,
                               hasChat: false
                           });

            });


        </script>

    </div>
</div>
</body>
</html>
