<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>POGS</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex align-items-center flex-column justify-content-center h-100  text-white" style="height: 100%">


        <div class="form-group waiting_message">
            <div class="message ">
                We noticed that you are using <span th:text="${browser}"></span>, which our system does not support. <br/>
                Our study requires you to use Chrome or Safari only. <br/>
                If you would still like to participate in this study, open Chrome or Safari and click the URL from the MTurk HIT again.
            </div>
        </div>



<script>




</script>

    </div>
</div>
<div layout:fragment="footer">

</div>
</body>
</html>
