<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>POGS</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex align-items-center flex-column justify-content-center h-100  text-white" style="height: 100%">


        <div class="form-group waiting_message" >
            <div class="message ">
                Your session is scheduled to start in
            </div>
            <div id="countdown"></div>
            <div id="caveat">(may start sooner if all participants are present)</div>
        </div>



<script>

    $(function () {


        pogs.setup({
                    currentUrl: window.location,
                    sessionId: $("#sessionId").val(),
                    subjectId: $("#externalUserId").val(),
                    secondsRemainingCurrentUrl: $("#secondsRemainingCurrentUrl").val(),
                    completedTaskId: null,
                    hasCollaboration:false,
                    hasChat: false
                        });


    });


</script>
<form>
    <input type="hidden" th:value="${subject.subjectExternalId}" id="externalUserId"/>
    <input type="hidden" th:value="${session.id}" id="sessionId"/>
    <input type="hidden" th:value="${secondsRemainingCurrentUrl}" id="secondsRemainingCurrentUrl">
</form>
    </div>
</div>
<div layout:fragment="footer">
    &copy; Copyright Center for Collective Intelligence 2018. All rights reserved.
</div>
</body>
</html>
