<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>POGS - Chatscripts</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active"><a href="/admin/chatscripts">Chatscript</a></li>
    </ol>
    <h2>All Chat Scripts:</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="col-12">
                <a href="/admin/chatscripts/create" class="btn btn-outline-primary float-right">
                    Create new chatscript</a>
            </div>
        </div>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Chatscript ID</th>
            <th>Chatscript name</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="chatscript : ${chatscriptList}">
            <tr>
                <td th:text="${chatscript.id}"></td>
                <td><a th:text="${chatscript.chatScriptName}" th:href="${'/admin/chatscripts/'+ chatscript.id}"></a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>