<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
<!--/*@thymesVar id="study" type="edu.mit.cci.pogs.model.jooq.tables.pojos.Study"*/-->
<!--/*@thymesVar id="sessionBean" type="edu.mit.cci.pogs.view.session.beans.SessionBean"*/-->
<head>
    <meta charset="UTF-8">
    <title>POGS - Dashboard </title>
</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    </ol>
    <h2>Session log</h2>
    <br/>

    <div class="alert alert-info" th:if="${#lists.isEmpty(subjectsToJoin)}">There are no subjects to join</div>
    <div th:if="${not #lists.isEmpty(subjectsToJoin)}" >
        <table class="table table-striped" th:if="${not #lists.isEmpty(subjectsToJoin)}">
            <thead>
            <tr>

                <th>checkInTime</th>
                <th>shouldExpireTime</th>
                <th>Subjectid</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="sc : ${subjectsToJoin}">
                <tr>

                    <td th:text="${#dates.format(sc.checkInTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sc.shouldExpireTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${sc.subjectId}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="alert alert-info" th:if="${#lists.isEmpty(subjectsCheckedIn)}">There are no checked in subjects</div>
    <div th:if="${not #lists.isEmpty(subjectsCheckedIn)}" >
        <h2>Checked in subjects</h2>
        <table class="table table-striped" th:if="${not #lists.isEmpty(subjectsCheckedIn)}">
            <thead>
            <tr>

                <th>CheckInTime</th>
                <th>Should ExpireTime</th>
                <th>Joined SessionTime</th>
                <th>Subject Id</th>
                <th>Joined Session Id</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="sc : ${subjectsCheckedIn}">
                <tr>

                    <td th:text="${#dates.format(sc.checkInTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sc.shouldExpireTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sc.joinedSessionTime, 'dd/MM/yyyy HH:mm:ss')}"></td>

                    <td th:text="${sc.subjectId}"></td>
                    <td th:text="${sc.joinedSessionId}"></td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="alert alert-info" th:if="${#lists.isEmpty(subjectsLost)}">There are no subjects lost</div>
    <div th:if="${not #lists.isEmpty(subjectsLost)}" >
        <h2>Lost subjects</h2>
        <table class="table table-striped" th:if="${not #lists.isEmpty(subjectsLost)}">
            <thead>
            <tr>

                <th>CheckInTime</th>
                <th>ShouldExpireTime</th>
                <th>LostSubjectTime</th>
                <th>Subjectid</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="sc : ${subjectsLost}">
                <tr>

                    <td th:text="${#dates.format(sc.checkInTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sc.shouldExpireTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sc.lostSubjectTime, 'dd/MM/yyyy HH:mm:ss')}"></td>

                    <td th:text="${sc.subjectId}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
