<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}">
<!--/*@thymesVar id="study" type="edu.mit.cci.pogs.model.jooq.tables.pojos.Study"*/-->
<!--/*@thymesVar id="sessionBean" type="edu.mit.cci.pogs.view.session.beans.SessionBean"*/-->
<head>
    <meta charset="UTF-8">
    <title>POGS - Dashboard </title>

        <script src="../../js/Countdown.js" th:src="@{/js/Countdown.js}"></script>
        <script src="../../js/pogsDashboard.js" th:src="@{/js/pogsDashboard.js}"></script>

</head>
<body>
<div layout:fragment="content" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">
            <a
            th:href="${'/admin/dashboard/sessions/' + sessionz.id}"
            th:text="${sessionz.sessionSuffix}"></a>
        </li>
    </ol>
    <h2 th:text="${'Live sessions ' + sessionz.sessionSuffix}" ></h2>
    <br/>
    <!--


    Acordeon for TEAMS
           - URLs
                 - 2018-09-03 13:36:18 - 2018-09-03 13:40:00 - /waiting_room
                 - 2018-09-03 13:40:00 - 2018-09-03 13:41:00 - /intro
                 - 2018-09-03 13:41:00 - 2018-09-03 13:41:20 - /display_name
                 - 2018-09-03 13:41:20 - 2018-09-03 13:41:40 - /roster

                 - 2018-09-03 13:41:40 - 2018-09-03 13:43:40 - /round/21/task/3/w

                 - 2018-09-03 13:43:40 - 2018-09-03 13:45:50 - /round/21/task/4/i
                 - 2018-09-03 13:45:50 - 2018-09-03 14:52:30 - /round/21/task/4/w

                 - 2018-09-03 14:52:30 - 2018-09-03 14:54:30 - /round/21/task/1/i
                 - 2018-09-03 14:54:30 - 2018-09-03 14:56:30 - /round/21/task/1/w

                 - 2018-09-03 14:56:30 - 2018-09-03 14:58:30 - /round/21/task/2/i
                 - 2018-09-03 14:58:30 - 2018-09-03 15:01:50 - /round/21/task/2/p
                 - 2018-09-03 15:01:50 - 2018-09-03 15:03:50 - /round/21/task/2/w

                 - 2018-09-03 15:03:50 - 2018-09-03 15:05:30 - /done

    -->
    <script>
    $(function () {
        pogsDashboard.setup({
            sessionId: '[(${sessionz.id})]',
            completedTasksByTeam: '[(${completedTasksByTeam})]',
            }
        );

        //1 listen to flow broadcasts.
        //2 for each flow check URL BOX and set it to "live"

        //3 Listen for subjects "analytics ping messages"//implement client side
        //4 Listen for TASK WORK DATA:
          // 4.1 - Listen to feedback broadcasts //IMPLEMENT CLIENT SIDE

          // 4.2 - Listen to communication
             //- 2 messages
          // 4.3 - Listen to collaboration
            //- 3 undone todo items
            //- 2 voting pools (3 votes)
        //5 Live log for all
        });
    </script>
    <style>
        .subjectpill {font-size: 12px; margin: 3px;}
        .cardPassed {background-color: #5a6268}
        .cardLive h1 small {color: #1c7430}
    </style>
    <div class="container">
      <div class="row text-center" >
      <th:block th:each="schedule,stCount : ${sessionSchedule}">
        <div class="col-md-4" th:id="${#strings.replace(schedule.url,'/','_')}">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 th:if="${#strings.contains(schedule.url,'waiting_room')}" class="my-0 font-weight-normal">Waiting room</h4>
            <h4 th:if="${#strings.contains(schedule.url,'intro')}" class="my-0 font-weight-normal">Session Intro</h4>
            <h4 th:if="${#strings.contains(schedule.url,'display_name')}" class="my-0 font-weight-normal">Display name</h4>
            <h4 th:if="${#strings.contains(schedule.url,'roster')}" class="my-0 font-weight-normal">Roster</h4>
            <h4 th:if="${#strings.contains(schedule.url,'i') and schedule.taskReference !=null}" class="my-0 font-weight-normal" th:text="${'Task: ' + schedule.taskReference.taskName + ' Intro'}"></h4>
            <h4 th:if="${#strings.contains(schedule.url,'w') and schedule.taskReference !=null}" class="my-0 font-weight-normal" th:text="${'Task: ' + schedule.taskReference.taskName + ' Work'}"></h4>
            <h4 th:if="${#strings.contains(schedule.url,'p') and schedule.taskReference !=null}" class="my-0 font-weight-normal" th:text="${'Task: ' + schedule.taskReference.taskName + ' Primer'}"></h4>
            <h4 th:if="${#strings.contains(schedule.url,'done')}" class="my-0 font-weight-normal">Done</h4>
          </div>
          <div class="card-body" th:classappend="${schedule.alreadyPassed} ? 'cardPassed' : ''">
            <h1 class="card-title pricing-card-title">
              <small class="" th:if="${not schedule.alreadyPassed and schedule.toBeDone}" th:id="${ #strings.replace(schedule.url,'/','_') + 'countdown'}">TO BE STARTED</small>
              <small class="" th:if="${not schedule.alreadyPassed and not schedule.toBeDone}" th:id="${ #strings.replace(schedule.url,'/','_') + 'countdown'}"></small>
              <small class="" th:if="${schedule.alreadyPassed}" th:id="${ #strings.replace(schedule.url,'/','_') + 'countdown'}">DONE</small>
            </h1>

            <small class="text-muted" th:text="${#dates.format(schedule.startTimestamp, 'dd/MM/yyyy HH:mm:ss')}"></small>
            <small> - </small>
            <small class="text-muted" th:text="${#dates.format(schedule.endTimestamp, 'dd/MM/yyyy HH:mm:ss')}"></small>
            <div th:if="${#strings.contains(schedule.url,'waiting_room')}"></div>
            <div class="subjectContainer">
                <div th:if="${not #strings.contains(schedule.url,'waiting_room') and not #lists.isEmpty(teams)}">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:each="teamWrapper : ${teams}">
                            <span th:text="${'Team #'+teamWrapper.team.id}"></span><br/>
                            <span th:id="${teamWrapper.team.id}">
                                <span th:class="${'badge-pill badge-dark badge-pill subjectpill ' +subj.subjectExternalId+'_pill'} " th:each="subj : ${teamWrapper.subjects}"
                                th:text="${subj.subjectExternalId}" th:id="${subj.subjectExternalId}"></span>
                            </span>
                            <div th:if="${#strings.contains(schedule.url,'w') and schedule.taskReference !=null}" ><b>Participation:</b>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">minsa01</div>
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">minsa02</div>
                                </div>
                                <div> <span>33</span> total interactions</div>
                            </div>
                            <div th:if="${#strings.contains(schedule.url,'w') and schedule.taskReference !=null}" ><b>Communication:</b>
                                <div><span th:id="${ #strings.replace(schedule.url,'/','_') +teamWrapper.team.id+'communication'}">10</span> Messages sent</div>
                            </div>

                            <div th:if="${#strings.contains(schedule.url,'w') and schedule.taskReference !=null}" ><b>Collaboration:</b>
                                <div><span th:id="${ #strings.replace(schedule.url,'/','_') +teamWrapper.team.id+'_collab_todo'}">4</span> Todo items created</div>
                                <div><span th:id="${ #strings.replace(schedule.url,'/','_') +teamWrapper.team.id+'_collab_voting'}">1</span> Voting widgets created</div>
                            </div>
                            <div class="hr"></div>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>

          </div>
          </div>
        </div>
      </th:block>
      </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</div>
</body>
</html>
